/* custom syle sheet */
/**
 * File Name : app.js
 * @author : Abhinav SHrda
 * Dtae modified : 22 june,2016
 * student ID : 300868625
 * website : COMP125-S2016-midterm
 * @description This contain javascript 
 */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}